#root {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  padding: 0;
}

ul li {
  position: relative;
  text-align: left;
  list-style: none;
  margin-top: 1rem;
  padding-left: 1rem;
  white-space: nowrap;
}

ul li::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 2.5rem;
  top: 0.8rem;
  left: 0rem;
  background-color: thistle;
}

ul li:last-child::before {
  position: absolute;
  content: unset;
}

ul li::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  left: 0rem;
  top: 0.7rem;
  background-color: thistle;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input {
  width: 20rem;
  margin-top: 0.5rem;
}

form button {
  width: fit-content;
  padding: 1rem 2rem;
  margin-left: 1rem;
}
